
* {
    margin: 0px;
    padding: 0px;

    /* Selecciono la fuente */
    font-family: 'Raleway', sans-serif;
}


/* color principal */
$mainColor: orange;


/* tamaño de fuente para texto */
$textFontSize: 30px;

/* Color de los bordes */
$borderColor: white;

/* Font-size para texto */
$titleFontSize: 70px;




