@use 'globals';

.card-servicio {
    margin-top: 50px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid globals.$borderColor;
    transition: 0.5s ease-out;
    overflow: visible;

    &:hover {
        border-color: globals.$mainColor;
        box-shadow: 2px 2px 10px globals.$mainColor;

        .card-servicio-button {
            transform: translate(-50%, 50%);
            opacity: 1;
        }
    }
}

.card-servicio-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-servicio-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: globals.$mainColor;
    color: black;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card-servicio-text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.card-servicio-text-title {
    font-size: globals.$textFontSize;
    font-weight: bold;
}