* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.iframe {
    width: 60vw;
    height: 30vh;
}

.border {
    border: 1px solid white;
    box-shadow: 5px 5px 15px orange;
}

.nav-item {
    font-size: 30px;
}

.nav-item:hover {
    font-size: 35px;
}

.footer-icono-youtube {
    width: 100px;
    height: 50px;
}

.footer-icono-instagram {
    width: 80px;
    height: 80px;
}

.footer-icono-spotify {
    width: 170px;
    height: 80px;
}

.font-title {
    text-shadow: 5px 5px 5px orange;
    font-size: 70px;
    margin: 50px 0px;
}

.font-orange {
    color: rgb(238, 155, 0);
}

.text-none-style {
    text-decoration: none;
}

.card-title {
    color: black;
    font-size: 20px;
}

.card {
    width: 20rem;
    margin: 50px 0px;
}

.card:hover {
    transform: scale(1.04) rotate(1deg);
    box-shadow: -5px -5px 15px orange;
}

.cardFilmYt {
    margin: 100px 0px;
    width: 250px;
    height: 200px;
}

.cardFilmYt:hover {
    transform: scale(1.04) rotate(-0.5deg);
    box-shadow: -5px -5px 15px orange;

}

.imagen-lateral {
    width: 50px;
}

.form {
    margin: 50px 0px 100px 0px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid orange;
    box-shadow: 5px 5px 10px orange;
}

footer {
    margin-top: 100px;
}

.carousel {
    width: 40vw;
}

#index__section {
    margin: 0px;
}
