@use 'globals';

.cardFilmYt {
    margin: 100px 0px;
    @include globals.size(250px,200px);
}

@media (min-width: 600px) {
    .cardFilmYt {
        margin: 100px 0px;
        
        @include globals.size(450px,300px);

        &:hover {
            transform: scale(1.04) rotate(-0.5deg);
            box-shadow: -5px -5px 15px globals.$mainColor;
        }
    }
}