@use 'globals';

/* iframes style */
.iframe {
    @include globals.size(60vw, 30vh);
}

/* estilo de bordes */
.border {
    border: 1px solid globals.$borderColor;
    box-shadow: 5px 5px 15px globals.$mainColor;
}

/* Fuente naranja */
.font-orange {
    color: globals.$mainColor;
}

/* Nav-bar Style */
.nav-center {
    display: flex;
    justify-content: center;
}

.navbar-nav {

    .nav-item {
        font-size: 30px;

        &:hover {
            font-size: 35px;
            padding: 0px;
            margin: 0px;
        }
    }

    .nav-link {
        &:hover {
            color: globals.$mainColor !important;
        }
    }
}

@media (min-width: 600px) {
    .icon {
        @include globals.size(110px, 100px);
    }
}


/* Footer Style */
footer {
    margin-top: 100px;
}



/* Estilo iconos */
.icon {
    @include globals.size(70px, 60px);
}


/* Estilo de titulos */
.font-title {
    text-shadow: 5px 5px 5px globals.$mainColor;
    font-size: globals.$titleFontSize;
    margin: 50px 0px 50px 0px;

    animation-name: title-animation;
    animation-duration: 0.5s;
}

/* Responsividad de los titlos */
@media (max-width: 600px){
    .font-title {
        font-size: globals.$titleFontSize - 20;
    }
}

@media (max-width: 400px){
    .font-title {
        font-size: globals.$titleFontSize - 50;
    }
}

/* animacion de los titulos */
@keyframes title-animation{
    from {
        transform: translate(-400px,0px);
    }
    to{
        transform: translate(0px , 0px);
    }
}



/* quita el estilo de texto */
.text-none-style {
    text-decoration: none;
}

.simple-text-size {
    font-size: globals.$textFontSize;
}

/* Style button */
.button {
    border: 1px solid globals.$mainColor;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: globals.$mainColor;
    width: 100px;

    &:hover {
        background-color: globals.$mainColor;
        color: white;
    }
}
