@use 'globals';

/* iframes style */
.iframe {
    width: 60vw;
    height: 30vh;
}

/* estilo de bordes */
.border {
    border: 1px solid globals.$borderColor;
    box-shadow: 5px 5px 15px globals.$mainColor;
}

/* Fuente naranja */
.font-orange {
    color: globals.$mainColor;
}

/* Nav-bar Style */

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-item {
    font-size: globals.$textFontSize;

    &:hover {
        font-size: (globals.$textFontSize+5);
        padding: 0px;
        margin: 0px;
    }
}

.icon {
    width: 70px;
    height: 60px;
}

@media (min-width: 600px) {
    .icon {
        width: 110px;
        height: 100px;
    }
}


/* Footer Style */
footer {
    margin-top: 100px;
}

/* Estilo de titulos */
.font-title {
    text-shadow: 5px 5px 5px globals.$mainColor;
    font-size: globals.$titleFontSize;
    margin: 50px 0px;

    &:hover {
        transform: rotate(3deg);
    }
}

/* quita el estilo de texto */
.text-none-style {
    text-decoration: none;
}