
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;

    /* Selecciono la fuente */
    font-family: 'Raleway', sans-serif;
}

/* Clase por id para eliminar margenes estasblecidos por las clases de bootstrap */
#margin-0 {
    margin: 0px;
}

/* color principal */
$mainColor: orange;


/* tamaño de fuente para texto */
$textFontSize: 20px;

/* Color de los bordes */
$borderColor: white;

/* Font-size para texto */
$titleFontSize: 70px;


@mixin size ($width, $height){
    width: $width;
    height: $height;
}