@use 'components';

.carousel {
    width: 40vw;
}

$carouselItemHeight: 500px;

.carousel-item {
    height: $carouselItemHeight;
}   

@media (max-width: 400px ){
    .carousel-item {
        height: $carouselItemHeight - 400;
    }
}

@media (max-width: 600px ){
    .carousel-item {
        height: $carouselItemHeight - 300;
    }
}

@media (max-width: 1000px ){
    .carousel-item {
        height: $carouselItemHeight - 200;
    }
}

@media (max-width: 1400px ){
    .carousel-item {
        height: $carouselItemHeight - 100;
    }
}

.home-title {
    @extend .font-title;

    transform: translateY(-200px);
    color:white;
    animation-name: home-animation;
    animation-duration: 0.5s;
    margin: 0px;

}

/* animacion de los titulos */
@keyframes home-animation{
    from {
        transform: translate(-400px,-200px);
    }
    to{
        transform: translate(0px , -200px);
    }
}

.subtitle {
    margin: 20px 0px;
}